<!--<p>add-recipe works!</p>
//<label>NgModel input</label>
//<input type = "text" [(ngModel)]="binding" />

//{{binding}}-->

<form
 [formGroup]="addRecipeForm"(ngSubmit)="onSubmit()"
class="form-container">
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type ="text" formControlName="name">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Image Link</mat-label>
    <input matInput type ="url" formControlName="image">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Difficulty</mat-label>
    <input matInput type ="text" formControlName="difficulty">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Preparatio Time</mat-label>
    <input matInput type ="number" formControlName="preparationTimeMinutes">
</mat-form-field>

<button mat-raised-button collor ="primary" type  ="submit"[disabled]="addRecipeForm.invalid">Submit</button>
</form>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
{{localStorageValue}}