<!-- <div class="card-container" [ngClass]="recipe.prepTimeMinutes >=20 ? 'dark-border': 'light-border'">
   
<div>{{ recipe.name | uppercase }}</div>   
<img [src]="recipe.image" alt = "recipe-image" />
<div><b>Preparation Time: </b>{{ recipe.prepTimeMinutes }}</div>
<div>Difficulty:{{recipe.difficulty }}</div>
<button (click) ="goToRecipePage()">Tell me more</button>

</div> -->


<mat-card class ="card-container full-width"[ngStyle]="{backgroundColor:recipe.prepTimeMinutes >=20 ? 'green' :'red',}"
   
  
[ngClass]="{'rounded-card':recipe.prepTimeMinutes===15}"appearance="outlined">
   
    <mat-card-header>
      
      <mat-card-title>{{ recipe.name|uppercase }}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="recipe.image"alt = "recipe-image">
    <mat-card-content>
      <p>
       <b>Preparation Time:</b> {{recipe.prepTimeMinutes}}
      </p>
      <p>
        <b>Difficulty:</b> {{recipe.difficulty}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button(click)="goToRecipePage()">Tell me more</button>
      
    </mat-card-actions>
  </mat-card>
  